version: '3.9'

services:
  fastapi:
    build:
      context: .
      dockerfile: fastapi_docker/Dockerfile
    container_name: fastapi_app
    depends_on:
      - mongodb
      - redis
    environment:
      - MONGO_URL=mongodb://mongodb:27017
      - DB_NAME=fastapi_redis
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - backend
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    networks:
      - backend
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - backend
  
  nginx:
    image: nginx:1.25
    container_name: nginx
    depends_on:
      - fastapi
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend

networks:
  backend:
    driver: bridge
  